.dadosProjeto{
    width: 1350px;
    margin-left: -100px;
    margin-top: 30px;
    
}


.tabelaDadosProbe{
    background-color:white;
    width: 900px;
    border-radius: 8px;
    text-align: center;
}



.tabelaDadosProbe thead th:nth-child(n){
    padding: 15px;
    
}

.headBase{
    background-color: #38b6ff;
    color: black;
    font-size: 13px;
    
}

.nomeBase{
    width: 35%;
}

.titulo{
    text-align: left;
    font-size: 18px;
}

.tabelaDadosProbe tbody td:nth-child(n){
    padding: 15px;
}
.tabelaDadosProbe tbody tr:nth-child(2n){
    background-color: rgb(234, 237, 238);
}


.tabelaDadosCocomo{
    background-color:white;
    width: 900px;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}

.bodyCocomo{
    font-size: 15px;
}

.tabelaDadosCocomo tbody td:nth-child(n){
    padding: 15px;
}
.tabelaDadosCocomo tbody tr:nth-child(2n){
    background-color: rgb(234, 237, 238);
}
.tabelaDadosCocomo thead th:nth-child(n){
    padding: 15px;
    
}

.cocomoTitulo{
    background-color: #38b6ff;
}