.new-vaga-container{
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-items: center; 
}

.new-vaga-container .container {
    width: 100%;
    padding: 96px;
    background: white;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: grid;
    grid-template-columns: 380px auto;
}

.new-vaga-container .container section{
    width: 100%;
    /* max-width: 380px; */
}

.new-vaga-container .container section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-vaga-container .container section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* margin-left: 30px; */
}

.form_header {
    display: grid;
    grid-template-columns: 50% 38% 12%;
    margin: 35px 0;
}

.form_header div {
    display: flex;
    justify-content: center;
    background-color: grey;
    margin-right: 10px;
    padding: 15px 0;
}

.content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content form div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 20px;
}

.content form input,
.content form select {
    margin-right: 10px;
}

.content form select {
    max-width: 100px;
}

/* .new-vaga-container .container .content form input,
.new-vaga-container .container .content form textarea{
    margin-top: 8px;
} */

.large_input {
    width: 500px;
}

.small_input {
    width: 5%;
}

img.LogoLogin {
    height: 350px;
    
}

.new-vaga-container .container .content form select{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
    width: 100%;
    height: 60px;
    margin-left: 2px;
    border-radius: 8px;
}